<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="description" content="Conozca más sobre nuestra ferretería, nuestros valores, misión y el equipo que hace todo posible.">
    <meta name="keywords" content="Ferretería, Ecommerce, Sobre Nosotros, Herramientas, Construcción">
    <meta name="author" content="#">
    <%- include('partials/head') %>
</head>
<body>
    <header>
        <%- include('partials/header') %>
        <%- include('partials/navigation') %>
    </header>
    <main>
        <!-- Contenido del sitio -->
        <section class="nosotros">
            <div class="nosotros-text">
                <h1>Nosotros</h1>
            </div>
        </section>
    
        <section class="productos">
            <img src="https://s3-alpha-sig.figma.com/img/043f/24a4/a38c64792dd81b75e7befbcea0e70367?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TajnEb~eKssgy1db3rJmqn4InsWajF62cfgBHicYBz362UoPtUfN3aINHe6wRmpKnmS3ExhhjgkENW2IKbcgbzxG5okaHpkbW~v2SK8yNxBQZmyKg~S37sixVz9664ISJDQQoE5VptDwLGloGO3IJv4H0roa~yPiwaEUZfAb9a-gz4YOHxobkpOYKtbcEcvfTvcCqoFGDMGm4ZKIFuRIuydTFg9ZUFDrbb56At0m38eUdTdPf11xQZ0WCmdXNohmq9ZwTXdXXZQowubyBojUTe-Vgv1E2BDWQUz0JaDRF5d3YgD5d8BTuYhVqZ3urpZI4yaZskuR8nXtUXy~8dan3A__" alt="Materiales de construcción">
            <div class="productos-texto">
                <h2>Todo lo que Necesitas para Construir con Confianza</h2>
                <h3>Amplia gama de materiales de <br> construcción</h3>
                <p>Ofrecemos una amplia gama de materiales de construcción para cubrir todas tus necesidades. Desde una variada selección de ladrillos, que incluyen tanto opciones tradicionales como bloques modernos, hasta madera de alta calidad para estructuras, pisos, cubiertas y acabados, en diversas especies y tamaños.</p>
                <button>Ver productos</button>
            </div>
        </section>
    
        <section class="mision-vision">
            <div class="mision">
                <img src="https://s3-alpha-sig.figma.com/img/cd7d/e399/99c8d95469366a8e1afaeca9cd1d23bf?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Y6NgHccDc8Jc35HIg3GKzHGr1ttPnk59Q7R5pvcN5vDEjQXV0JF5YYKIG~mbxtOD4R0OnpsOibv3jDJBW0gV~4PfXmHG-N1I~lsdOqojFjmy2V~vOIhF16Z4RhFhH8yR3MOVitF9dOLObUcO-cAtqL8~abFwcE6uvueeRu~m6Rww1c-A36gKZV3a30vt8tp7P8jeAhsgIpyZnbcLf7iQoX4THTp9L9wZ1LuGvSbXJq0eTD2ZZ4xOpfg0c8X~loQdFr8RiNCLHKtpD-rFFC7R3qRdd1d~JRC5aCvtUbSsFrL1sME5SE4t~mjot2bWZI7eMhBFx9MJw3XQjE3qpPf4WQ__" alt="Misión">
                <div>
                    <h3>Misión</h3>
                    <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.</p>
                </div>
            </div>
            <div class="vision">
                <img src="https://s3-alpha-sig.figma.com/img/a1e0/52ca/0a3df9d5340203b136b0cfead5614070?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=L13yrIQTCCgwrw9JHcp3lZPnFN1W7DN5BmcnPBFimAqXIymGzi5ABAwmyQaD9Xzi~adBmMBa6rSAbU4SulKcvdqwMLyZMGiBFJC3TxMLfjbKBYuG0pc9gyMTKL61JaJEEnwhh4q9tesyJ-YVNr6ty1fqXV4NzA4RrXZaV2tTNu68cDGCj5hLCofhPu0KccKOQfw8GjWP180AyuiYi4j3ZkuDItfjxYly6AchmjSFZjXUf3NHrNa-0p2e6cudimyHHfkQWCuUiWk-XELhBCD86aLh8ETBhvaosLRO6QRHcoToiOGJyXPMQawETzEjDJyVpeNGwDfYsYt9MnWj~Etbqg__" alt="Visión">
                <div>
                    <h3>Visión</h3>
                    <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.</p>
                </div>
            </div>
        </section>
    </main>
    

    
    <%- include('partials/footer') %>
</body>
</html>
