<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <%- include('partials/head') %>
        <title>Document</title>
</head>

<body>
    <header>
        <%- include('partials/header') %>
            <%- include('partials/navigation') %>
    </header>

    <div class="contenedor">
        <div class="card1">
            <img src="img/maestrito.jpg" alt="">
        </div>

        <form action="" method="post">
            <div class="card2">
                <h2 class="text">Iniciar Sesion</h2>
                <input type="text" class="form-control" name="txtuser" id="txtuser"
                    placeholder="Usuario o Correo electronico">
            </div>
            <div class="card3">
                <input type="password" class="form-control" name="txtpass" id="txtpass" placeholder="Contraseña"
                    required>
            </div>

            <div class="card4">
                <button type="button" class="boton">Ingresar</button>
            </div>

        </form>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Recordarme
                <span class="checkmark"></span>

            </label>
            <label for="">Haz perdido tu contraseña</label>
        </div>
    </div>
</body>

</html>