<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <%- include('partials/head') %>
        <title>Document</title>
</head>

<body>
    <header>
        <%- include('partials/header') %>
            <%- include('partials/navigation') %>
    </header>

    <div class="contenedor">
        <form class="ss" action="" method="post"></form>
        <div class="card">
            <img src="img/maestrito.jpg" alt="">
        </div>
        <div class="card">
            <h2 class="titulo">Iniciar Sesion</h2>
            <input type="text" class="form-control" name="txtuser" id="txtuser"
                placeholder="Usuario o Correo electronico">
        </div>
        <div class="card">
            <input type="password" class="form-control" name="txtpass" id="txtpass" placeholder="Contraseña" required>
        </div>



        </form>
        <div class="card">
            <button type="button" class="boton">Ingresar</button>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Recordarme
                <span class="checkmark"></span>

            </label>
            <label class="labelsecondary">Haz perdido tu contraseña</label>
        </div>
    </div>
</body>

</html>