
/*CONTACTO*/
.formulario {
  background-color: var(--secundario);
  width: min(
    60rem,
    50%
  ); /*utiliza el valor mas pequeño respecto a todo el ancho*/
  margin: 50px auto; /*se usa cuando es formulario y no tiene display flex*/
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--complementario);
}

@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
  }
  /* selecciona la 3era columna*/
  .contenedor-campos :nth-child(3),
  .contenedor-campos :nth-child(4) {
    grid-column: 1/3;
  }
}

.campo {
  margin-bottom: 1rem;
}

.campo textarea {
  height: 17rem;
}

.input-text {
  width: 70%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--blanco);
}


/*el media aplica para el boton*/
@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}

@media (min-width: 768px) {
  .w-sm-100 {
    width: auto;
  }
}

.flex {
  display: flex;
}
.alinear-derecha {
  justify-content: flex-end;
}

.enviar .boton {
  width: 100%;
}
