
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  line-height: 50px;
  background-color: var( --secundario);
  width: min(80rem, 50%);
  margin: 0 auto; /*se usa cuando es formulario y no tiene display flex*/
  padding: 1rem;
  border-radius: 1rem;
}
.boton {
  background-color: var(--secundario); /*fondo*/
  color: var(--blanco); /*color del texto*/
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1.5rem; /*tamaño del texto*/
  text-decoration: none; /*elimina el subrayado*/
  text-transform: uppercase; /*cambia a letra mayuscula*/
  font-weight: bold; /*mas negrito el texto*/
  border-radius: 1rem; /*border redondeado*/
  width: 90%; /*ancho del boton*/
  text-align: center;
  border: none;
}

.form-control {
  width: auto;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--blanco);
  margin-top: 1rem;
}
img {
  width: 500px;
  border-radius: 1rem;
}

.card1 {
  align-content: center;
}
.card2 {
  align-content: center;
}
.card3 {
  align-content: center;
}
.card4 {
  align-content: center;
}
@media (min-width: 768px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}
