.contenedor {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  line-height: 45px;
  width: 50%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--grisclaro);
}

.boton {
  background-color: var(--secundario); /*fondo*/
  color: var(--blanco); /*color del texto*/
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 20rem; /*tamaño del texto*/
  text-decoration: none; /*elimina el subrayado*/
  text-transform: uppercase; /*cambia a letra mayuscula*/
  font-weight: bold; /*mas negrito el texto*/
  border-radius: 1rem; /*border redondeado*/
  width: 150%; /*ancho del boton*/
  text-align: center;
  border: none;
}

.form-control {
  width: auto;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--blanco);
  margin-top: 1rem;
}
img {
  width: 500px;
  border-radius: 1rem;
}

.checkbox {
  color: var(--blanco);
}
.titulo {
  text-align: center;
  font-size: 1.2rem;
  color: var(--blanco);
  padding-top: 1rem;
  text-transform: uppercase; /*cambia a letra mayuscula*/
}

@media (min-width: 768px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}
