<section class="canales-venta">
    <h2 class="titulos-h2">Otros canales de ventas</h2>
    <div class="tarjetas">
        <div class="tarjeta">
            <img src="../img/iconos/mayorista.png" alt="">
            <h3> Ventas Mayoristas</h3>
            <a href="#" class="boton">Ver m치s</a>
        </div>
        <div class="tarjeta">
            <img src="../img/iconos/venta-empresa.png" alt="">
            <h3>Ventas Empresas</h3>
            <a href="#" class="boton">Ver m치s</a>
        </div>
        <div class="tarjeta">
            <img src="../img/iconos/venta-empresa.png" alt="">
            <h3>Servicios Construcci칩n</h3>
            <a href="#" class="boton">Ver m치s</a>
        </div>
    </div>
</section>